*{margin: 0;
padding: 0;}
body{
    font-family: 'Kanit', sans-serif;
}
header{
    background-color: rgb(189, 221, 45);
    display: flex;
    justify-content: space-between;
}

header h1{
    margin: 0vh 1vw;
    padding: 1vh 1vw;

}
.container1{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    margin: 2vh 2vw;
    padding: 2vh 2vw;
}
.container1 h1{
    margin: 0vh 1vw;
    padding: 1vh 1vw;
}
.container2 h2{
    margin: 3vh 2vw;
    padding: 3vh 3vw;
}
ion-icon{
    display: none;
}
#myDropdown{
    
    display: none;
}

@media  screen and (max-width: 768px){
    header ion-icon{
        display: block;
        padding: 2vh 2vw;
        font-size: 2rem;
    }
    header ion-icon:hover{
        display: block;
        cursor: pointer;
        padding: 2vh 2vw;
        font-size: 2rem;
    }
    #myDropdown{
        display: flex;
        flex-direction: column;
        padding: 10px 10px;
        justify-content: center;
        align-items: center;
        background-color: rgb(223, 106, 106);
        /* visibility: hidden; */
    }
    #myDropdown a{
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
        /* background-color: aqua; */
        padding: 2px;
        
    }
}